@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto');

body {
    text-align: center;
}

.card-group>.card {
    flex: 1 0 0;
    margin-bottom: 0;
    padding: 0.5rem;
    color: #fff;
}
.card-group .card {
  margin: 0 30px; 
}

.h5,
h5 {
    font-size: 2.5rem;
}

.card {
    background-color: #630707;
    border: 2px solid rgba(0, 0, 0);
    border-radius: .25rem;
}

.cardSet1 {
    background-color: #669999;
}

.cardSet2 {
    background-color: #cc6666;
}

.cardSet3 {
    background-color: #cc9966;
}

.btnClass{
    background-color: #1b538c;
    color: white;
    height: 300px;
}